:root{
    --red:rgb(184, 46, 46);
    --fade:rgb(41, 40, 40) ;
}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    }
    
    .navbar{
        width:1200px;
        display: flex;
        margin: 0 auto;
        margin-top: 2%;
        height: 5rem;    
    }

    .navbar-ul{
    width:90%;
    display:flex;
    justify-content:space-between;
    
    }
    
    .nav-middle{
    display:flex;
    gap:1rem;
    }
    .nav-right{
    display:flex;
    gap:5rem;
    }
    
    li{
    list-style:none;
    }
    
    .pos-title, .add-ones-title, .outlet-types-title, .resources-title, .book-btn-class, .pricing:hover{
    cursor:pointer;
    }
    
    .navbar ul ul li{
        visibility: hidden;
    }
    
    .navbar ul li:hover.navbar ul ul li{
        visibility: visible;
    }
    
    .nav-left{
        width:10%;
        color: red;
        font-weight: 800;
        font-size: 20px;
        font-family: sans-serif;
    }    
    .b-word{
        font-size: 25px;
        font-style: italic;
    }
    
    .book-btn{
        border: 2px solid rgb(41, 40, 40) ;
        padding: 12px;
        border-radius: 5px;
    }
    .book-btn:hover{
        color:white;
        background-color: black;
        transition-duration: 200ms;
    }
    
    .free-demo{
        width: 1200px;
        display: flex;
       justify-content: center;
       align-items: center;
       margin: 0% 15%;
       gap:3rem;
    }
    
    .free-demo-left{
       
        display: flex;
        flex-direction: column;
        width: 35%;
       gap:3.5rem;
        
    }
    
    .free-demo-right{
        width: 60%;
    }
    
    .free-demo-right img{
        width: 80%;
    }
    
    .demo-heading{
        align-items: center;
        font-size: 2rem;
        line-height: 3.75rem;
    }
    
    .demo-desc p{
        font-size: 1.2rem;
        color:rgb(125, 117, 117);
    }
    
    .demo-btn{
        display: inline-block;
        background-color: rgb(184, 46, 46);
        padding: 0.8rem;
        color:#ffff;
        border-radius: 4px;
        font-size: 1.2rem;
    }
    
    .demo-btn:hover{
        background-color: rgb(142, 40, 40);
    }
    
    .brand-logo{
        width: 1200px;
        margin: 0 auto;
    }
    
    .trust-line{
        margin-left: 26%;
        font-size: 2rem;
        line-height: 1rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-bottom: 4rem;
    }
    
    .brand-logo-div{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 3rem;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    
    }
    .brand-logo-div img{
        width: 50%;
    }
  .resto-info{
        width: 1200px;
        display: flex;
        margin-left: 13%;
        margin-top:5%;        
        margin-bottom: 5%;
        flex-direction: column;
    }
    .info-1{
        color:var(--red);
        font-weight: 600;
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1rem;
        letter-spacing: 2px;
    }

    .info-2{
        font-size: 3rem;
        font-weight: 900;

    }

    .info-3{
        color:var(--fade);
        margin: 3px;
        font-size: 1.1rem;

    }

.card-desc{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.card-desc div{
    display: flex;
}

.msg-sec{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.img-sec{
    width: 40%;
}
.img-sec img{
    width: 90%;
}

.card-1-img{
   
   
}

.card-2-img{
    
}

.card-3-img{
   
}

.card-4-img{
    
}